
  <h1>Ask the Coach</h1>
  <div class = "container" id ="container">
<form action="/answer" method="get" id = "form">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
</div>
