

h1{
  color: black;
  font-weight: bold;
  text-align: center;
}

#container{
  margin: 0 auto;
  text-align: center;
  height: 500px;
  background-color: black;
  margin-top: 60px;
  padding-top: 60px;
}
